@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Source+Sans+Pro:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
  }
  
  
  
  .container {
    width: 100%;
    min-height: 100vh;
    background-image: url("/assets/Desktop_Backgrounds_1920x1200_6 3.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  /* marking this as a question as im confused why container follows the broswer resizing flow instead of remaining on the same possition.*/ 
  
  .stars-animation {
    background-image: url("/assets/stars_1.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: starsAnimation 5s infinite;
  }

  @keyframes starsAnimation {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    50% {
      transform: scale(0.8);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 0.8;
    }
  }

  /* another question how can an animation be a movable element as far as i am aware you can not move an animation, however, as this is image i could not find a way to do it*/
  
  .group-animation {
    background-image: url("/assets/group_22.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
    animation: groupAnimation 5s infinite;
    z-index: 9; /* Ensure the image stays on top of other elements */
  }
  
  @keyframes groupAnimation {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    30% {
      opacity: 0.4;
      animation: shineAnimation 4s infinite;
    }
    80% {
      opacity: 0;
      animation: none; /* Stop the shine animation */
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0.8;
    }
  }
  
  @keyframes shineAnimation {
    0% {
      transform: scale(1);
      opacity: 1;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
    50% {
      transform: scale(1.5);
      opacity: 0.7;
      box-shadow: 0 0 50px rgba(255, 255, 255, 0.9);
    }
    100% {
      transform: scale(1);
      opacity: 1;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
  }
  
  
  
  .row {
    width: 100%;
    padding: 0 80px;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: relative;
    z-index: 1;
  }
  
  .navbar .menu-icon {
    display: none;
  }
  
  .navbar h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
  }
  
  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .navbar ul li {
    list-style: none;
  }
  
  .navbar ul li a {
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    background-color: #5d88d5;
  }
  
  .navbar .menu-icon {
    display: none;
  }
  
  
  /* Media Queries */
  
  /* For screens up to 768px */
  @media (max-width: 768px) {
    .row {
      padding: 0 20px; /* Adjusted padding for mobile devices */
    }
  
    .navbar ul {
      display: none;
      flex-direction: column;
      margin-top: 10px;
      text-align: center;
    }
  
    .navbar ul li {
      text-align: center;
    }
  
    .navbar ul li a {
      padding: 10px 18px;
      display: block;
      margin-bottom: 5px;
      color: #fff;
    }
  
    .navbar .menu-icon {
      display: block;
      cursor: pointer;
      font-size: 24px;
      color: #fff;
      margin-right: 10px;
    }
  
    .navbar.mobile-menu-open ul {
      display: flex;
    }
  }
  
  
  

  
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    animation: logoAnimation 2s infinite alternate;
  }
  
  @keyframes logoAnimation {
    0% {
      transform: scale(1.5);
    }
    50% {
      transform: scale(1); /
    }
    100% {
      transform: scale(1.5);
    }
  }
  
  
  .content {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .content h1 {
  color:#ffff;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  }
  
  .content p {
    font-size: 16px;
    color: #fff;
  }
  
  

  .page_2 {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .columns-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .column {
    flex: 1;
    text-align: center;
    padding: 0 10px;
  }
  
  .page_2 h1 {
    color: #464547;
    font-size: 48px;
    line-height: 64px;
  }
  
  .page_2 p {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
  }
  
  .button {
    background: #55C2D8;
    border-radius: 18px;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    animation: buttonRotation 2s infinite;
  }
  
  @keyframes buttonRotation {
    0% {
      transform: rotate(1deg);
    }
    50% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  
  

  .learn_more {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(156, 83, 83, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/learnmoreimage.png');
    background-size: cover;
    text-align: center;
    color: white;
    z-index: 1; 
    
  }
  
  .learn_more h1 {
    font-size: 48px;
    font-weight:700;
    line-height: 64px;
    padding:35px;

  }
  
  .learn_more p {
    font-size: 24px;
    font-weight:400;
    line-height: 32px;
    padding:35px;
  }
  
  .learn_more span {
    background-image: url('/assets/Ellipse\ 8.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    color: white;
    font-size: 48px;
    animation: spanAnimation 2s infinite alternate;
  }
  
  @keyframes spanAnimation {
    0% {
      transform: scale(1);
      color: white;
    }
    50% {
      transform: scale(0.8); /* Adjust the scale value to make it shrink */
      color: black; /* Change the color to white */
    }
    100% {
      transform: scale(1);
      color: white;
    }
  }
  
  
  .footer {
    min-width: 1200px;
    height: 170px;
    background-color: #464547;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo-section {
    display: flex;
    align-items: center;
  }
  
  .footer-logo {
    margin-right: 10px;
  }
  
  .footer-text {
    display: inline;
  }
  
  .column {
    flex: 1;
  }
  
  .footer-address {
    margin-bottom: 10px;
  }
  
  .footer-email {
    color: inherit;
  }
  
  .footer-rights {
    margin-top: 10px;
  }

  